nose2==0.7.4
docker==2.2.1
futures==3.0.5
urllib3==1.20
crypto==1.4.1
pyopenssl==17.5.0
mysql-python==1.2.5
Flask==1.0.2
Flask-SQLAlchemy==2.2
ansible==2.3.1.0
boto3==1.4.7
paramiko==2.0.9
elasticsearch==5.3.0
requests-aws4auth==0.9
datetime==4.1.1
junit-xml==1.7
awscli==1.11.99
python-consul==0.7.0
pycodestyle==2.3.1
consulate==0.6.0
pykwalify==1.5.1
configparser==3.5.0
pingdomlib==2.0.3
selenium==3.4.3
hvac==0.2.17
jprops==2.0.2
mock==2.0.0
coverage==4.4.1
nose2-cov==1.0a4
moto==1.1.24
astroid==1.6.1
isort==4.2.5
pylint==1.8.2
msgpack==0.5.6
python-dateutil==2.4.2
pytz==2017.3
pygerduty==0.37.0
pyvirtualdisplay==0.2.1
pandas==0.22.0
python-jenkins==0.4.16
pyhcl==0.3.10
termcolor==1.1.0
pip==21.1
